* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
canvas {
	cursor: default;
	width: 800px;
	height: 800px;
	background-color: #101010;
	margin: auto;
}

#app {
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #050505;
}

.radio-label {
	color: white;
}
